@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* box-sizing: border-box; */
}

body {
    background: #243b46;
    font-family: 'Montserrat', sans-serif;
}

.card-1, .card-2 {
    width: 640px;
    height: 426px;
    position: relative;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 1em rgb(67, 243, 243);
}

.img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 0.3s;
    /* padding: 0 2rem; */
    text-align: center;
}

h3 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: .7rem;
}

h4 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1.5rem;
    line-height: 1.3;
}

.btn {
    text-decoration: none;
    color: #202733;
    background: #fff;
    padding: 15px 25px;
    border-radius: 31px;
    font-weight: 500;
}

.overlay {
    position: absolute;
    width: 0px;
    height: 0px;
    transform-origin: 50% 50%;
    mix-blend-mode: multiply;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.card-1 .red {
    width: 1400px;
    height: 1400px;
    background-color: #f44336;
    left: calc(0% - 1400px);
    top: calc(50% - 700px);
}

.card-1 .blue {
    width: 1400px;
    height: 1400px;
    background-color: #2196f3;
    left: calc(100%);
    top: calc(50% - 700px);
}

.card-2 .red {
    background-color: #f44336;
    left: calc(0%);
    top: calc(50%);
}

.card-2 .blue {
    background-color: #2196f3;
    left: calc(100%);
    top: calc(50%);
}

.card-1:hover .red,
.card-2:hover .red {
    width: 1400px;
    height: 1400px;
    left: calc(0% - 700px);
    top: calc(50% - 700px);
}

.card-1:hover .blue,
.card-2:hover .blue {
    width: 1400px;
    height: 1400px;
    left: calc(100% - 700px);
    top: calc(50% - 700px);
}

.card-1:hover .content, .card-2:hover .content {
    transform: translateY(0);
    opacity: 1;
}